@model IntermediateAssessment.Models.Report

@{
    ViewBag.Title = "Список студентов";
}

<h2>Список студентов</h2>

<table class="table-bordered">
    <tr class="bg-light">
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Groups.First().Students.First().ListNumber)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Groups.First().Students.First().LastName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Groups.First().Students.First().FirstName)
        </th>
        @foreach (var a in Model.Assessments)
        {
            <th class="text-center">
                РК @a.Number
            </th>
        }
    </tr>

    @foreach (var group in Model.Groups)
    {
        <tr>
            <td colspan="@ViewBag.ColSpan" class="text-center bg-light font-weight-bold">
                @Html.DisplayFor(modelItem => group.GroupName)
            </td>
        </tr>
        foreach (var student in group.Students)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => student.ListNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.FirstName)
                </td>
                @foreach (var status in student.Status)
                {
                    <td>
                        @Html.Raw(status)
                    </td>
                }
            </tr>
        }
    }

</table>
