@model IEnumerable<IntermediateAssessment.Models.Group>

@{
    ViewBag.Title = "Список студентов";
}

<h2>Список студентов</h2>

<table class="table-bordered">
    <tr class="bg-light">
        <th>
            @Html.DisplayNameFor(model => model.Students.First().ListNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.First().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.First().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.First().Status)
        </th>
    </tr>

    @foreach (var group in Model)
    {
        <tr>
            <td colspan="4" class="text-center bg-light font-weight-bold" >
                @Html.DisplayFor(modelItem => group.GroupName)
            </td>
        </tr>
        foreach (var student in group.Students)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => student.ListNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.FirstName)
                </td>
                <td>
                    @Html.Raw(student.Status)
                </td>
            </tr>
        }
    }

</table>
