@model IntermediateAssessment.Models.Login

@{
    ViewBag.Title = "Рубежный контроль";
}

@using (Html.BeginForm())
{
    

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            @Html.LabelFor(model => model.FileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.FileNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.ValidationMessageFor(model => model.FileNumber, "", new { @class = "control-label col-md-4 text-danger" })
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <input type="submit" value="Вход" class="btn btn-info col-md-12" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
